.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
    box-shadow: 0.5em 0em 1em rgba(120, 122, 126, 0.572);
    width: 100%;
    min-width: 350px;
}
.header-span{
    color: rgba(217, 63, 63, 1);
}
a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;    
}

.header-title{
    padding: 0.5em;
    font-size: 3em;
    font-weight: 700;
}

.header-nav{
    display: flex;
    align-items: center;
    text-align: center;    
}
.header-li{
    font-size: 1.5em;
    margin: 1em;
    font-weight: 500;
    color: inherit;
}
.header-li:nth-child(2){
    color: rgba(217, 63, 63, 1);
}

@media (min-width: 700px) {
    .header{
        flex-direction: row;
        justify-content: space-between;
        height: 200px;
        
    }
    .header-nav{
        display: inline-block;
    }
    .header-li{
        float: left;
    }
}